.title {
    font-family: "Rubic One", sans-serif;
    font-size: 80px;
    line-height: 99px;
    color:$main_color;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    text-transform: uppercase;
}