@import 'lib/bootstrap-reboot.min.scss';
@import 'lib/fonts.scss';
@import 'other_blocks/descr';
@import 'other_blocks/button';



* {
    font-family: Roboto,sans-serif;
}
.container {
    max-width: 1600px;
    padding: 0 20px;
}
@import 'style-blocks/header';