@import 'lib/bootstrap-reboot.min.scss';
@import 'lib/fonts';
@import 'lib/variables.scss';
@import 'lib/keyframes.scss';
@import 'lib/slick.scss';
@import 'other_blocks/descr';
@import 'other_blocks/button';
@import 'other_blocks/title';



* {
    font-family: Roboto,sans-serif;
}
a {
    color:$text_color;
    text-decoration: none;
    transition: color 0.8s ease;
    @media(min-width:992px){&:hover{
        color:$main_color;
    }}
    @media(max-width:992px){
        &:hover {
            color:$text_color;
        }
    }
}
p {
    margin: 0;
}
.container {
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
}
@import 'style-blocks/header';
@import 'style-blocks/promo';
@import 'style-blocks/services';
@import 'style-blocks/about';
@import 'style-blocks/gallery';