.gallery {
    width: 100%;
    min-height: 500px;
    background:url('../img/gallery_bg.jpg') center (center/cover) no-repeat;
    padding: 40px 0;

    // .gallery__title

    &__title {
        margin-bottom: 57px;
    }

   .slider {
        max-width: 760px;
        margin: 0 auto;
        img {
            width: 100%;
        }
   }
    .slick {
      
        &-arrow {
            position: absolute;
            top: 50%;
            width: 70px;
            height: 70px;
            font-size: 0;
            transform: translateY(-50%);
            z-index: 3;
            border: none;
        }
        &-prev {
           left: -10%;
            background: url('../img/icons/icons.svg#left_arrow') center center/cover no-repeat;
        }
        &-next {
            right: -10%;
            background: url('../img/icons/icons.svg#right_arrow') center center/cover no-repeat;
        }
        &-dots {
            display: flex;
            list-style-type: none;
            justify-content: center;
            margin-bottom: 0;
            .slick-active {
                button {
                    background-color: $main_color;
                }
            }
            button {
                font-size: 0;
                padding: 0;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                border: 1px solid #018B83;;
                margin: 0 5px;
                background: #018B83;
                transition: all 0.8s ease;
                
            }
           
        }
    }
    
    // .gallery__subtittle

    &__subtittle {
        margin-top: 57px;
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        color:$text_color;
        margin-bottom: 15px;
        text-align: center;
    }

    // .gallery__youtube

    &__youtube {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        background:url('../img/icons/icons.svg#youtube') center (center/cover) no-repeat;
    }

    @media(max-width:992px){
        &__subtittle {
            font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (992 - 320)));
            line-height: calc(40px + (60 - 40) * ((100vw - 320px) / (992 - 320)));
        }
        &__youtube {
            width: calc(100px + (200 - 100) * ((100vw - 320px) / (992 - 320)));
            height: calc(100px + (200 - 100) * ((100vw - 320px) / (992 - 320)));
        }
        .slick {
            &-dots {
                button {
                    width: calc(10px + (16 - 10) * ((100vw - 320px) / (992 - 320)));
                    height: calc(10px + (16 - 10) * ((100vw - 320px) / (992 - 320)));
                }
            }
        }
           
    }
    
}
