.promo {
    width: 100%;
    min-height: 100vh;
    background:url('../img/promo_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 30px 0;

   
    // .promo__title
    &__title {
        margin-bottom: 9%;
    }
    // .promo__descr

    &__descr {
        position: relative;
        bottom: 0;
        margin: 0 auto;
        width: 700px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        text-align: center;
        padding: 30px 10px;
    }

    // .promo__text

    &__text {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    // .promo__phone

    &__phone {
        display: block;
        font-size: 40px;
        line-height: 50px;
        color:$main_color;
        margin-bottom: 20px;
    }

    // .promo__button

    &__button {
        width: 400px;
        height: 80px;  
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 30px;
    }
    &__scroll {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        animation: scroll 1s linear infinite alternate;
        &_no-animate {
            animation: none;
        }
    }
    @media(max-width:992px){
        padding-top: 100px;
        &__title {
            font-size: calc(35px + (70 - 35) * ((100vw - 320px) / (992 - 320)));
            line-height: calc(50px + (80 - 50) * ((100vw - 320px) / (992 - 320))) ;
        }
        &__descr {
            width: 100%;
        }
        &__text {
            font-size: calc(20px + (40 - 30) * ((100vw - 320px) / (992 - 320)));
            line-height: calc(30px + (50 - 30) * ((100vw - 320px) / (992 - 320))) ;
        }
        &__phone {
            font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (992 - 320)));       
            line-height: calc(30px + (50 - 30) * ((100vw - 320px) / (992 - 320)));
        }
        &__button {
            width: calc(200px + (400 - 200) * ((100vw - 320px) / (992 - 320)));
            height: calc(50px + (80 - 50) * ((100vw - 320px) / (992 - 320)));
            font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (992 - 320)));
        }
    }
}

